In [310]:
df = pd.read_csv('https://raw.githubusercontent.com/popkdodge/Unit-2-Build/master/Carrera_911_1_2.csv',index_col=[0])

In [315]:
df

,condition,milage,Price,Year,Brand,Model,Model_Vers,S_RS,Cabriolet,Color,Transmission
0,Used,47649,48950.0,2012,Porsche,911,Carrera,Black,Edition,Black,Automatic
1,Used,19020,67988.0,2015,Porsche,911,Carrera,Base,Hardtop,Black,Automatic
3,Used,56436,51990.0,2012,Porsche,911,Carrera,S,Hardtop,Black,Automatic
4,Used,85000,34900.0,2009,Porsche,911,Carrera,S,Cabriolet,Black,Automatic
5,Used,15808,96995.0,2018,Porsche,911,Carrera,S,Hardtop,Black,Automatic
...,...,...,...,...,...,...,...,...,...,...,...
1493,Used,19826,99950.0,2017,Porsche,911,Carrera,4S,Hardtop,White,Manual
1494,Used,15710,89995.0,2016,Porsche,911,Carrera,4S,Hardtop,White,Manual
1495,Used,502,93900.0,2018,Porsche,911,Carrera,T,Hardtop,White,Manual
1496,Used,5182,81995.0,2016,Porsche,911,Carrera,S,Hardtop,White,Manual
1501,Porsche Certified,10074,112000.0,2018,Porsche,911,Carrera,4S,Hardtop,White,Manual

In [316]:
df.dtypes

condition        object
milage            int64
Price           float64
Year              int64
Brand            object
Model             int64
Model_Vers       object
S_RS             object
Cabriolet        object
Color            object
Transmission     object
dtype: object